.web3Container {
  display: flex;
  flex-direction: row-reverse;

  article {
    width: clamp(13rem,42vw,32rem);
    margin: 0 auto;
    margin-bottom: 14rem;
    padding: 9rem 0 4rem 0;
    font-size: clamp(1.1rem, 2.2vw, 1.8rem);
    line-height: clamp(2.1rem, 4vw, 2.8rem);
    text-transform: uppercase;
    letter-spacing: 1px;

    p {
      font-size: clamp(0.9rem, 4.5vw, 1.4rem);
      line-height: 1.8em;
      font-weight: 500;
      font-family: Roboto Mono, sans-serif;
      color: var(--c2);
     

      span {
        color: var(--c5-2);

        strong {
          color: var(--c3);
        }
      }
    }
  }

  div {
    position: relative;
    background-color: var(--c4);
    background-image: url(https://d33wubrfki0l68.cloudfront.net/a09384118756b2f29fbfac367620073a61815c2c/921b9/assets/city.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    width: clamp(15rem,calc(50vw - 12rem),40rem);
    height: unset;
    // width: clamp(15rem,calc(50vw - 12rem),40rem);
    box-shadow: inset 5rem 0 7rem -3rem var(--c4);
    transform: translate3d(0, 0, 0);
    z-index: -1;

    img {
      position: absolute;
      bottom: unset;
       top: 9rem;
      left: 0;
      margin: 0;
      transform: translateX(-50%);
      width: clamp(16rem,25vw,20rem);
    }
  }
}


@media (max-width: 850px) {
  .web3Container{
   display: block;

   article{
    width: clamp(13rem,82vw,42rem);
   }
    
   div{
    height: 11rem;
    width: 99%;

    img{
      top: -0.5rem;
      transform: translateY(50%);
      width: clamp(16rem,25vw,20rem);
      margin: 0 auto;
      left: 0;
      right: 0;
    }
   }
    
  }
}